body{
  background-color: white;
}
  #wrapper{
    max-width: 1200px;
    /*background-color: #fff;
    margin-left: auto;
    margin-right: auto;*/
    margin: 0 auto;
  }

header{
  /*background-color: #000;*/
  padding: 1em;
background:
linear-gradient(90deg, rgba(2,0,36,1) 0, rgba(214,18,52,1) 300px, rgba(255,255,255,0) 600px),
url("images/cast-image.jpeg") right top no-repeat,
black;
}

p{
  margin-bottom: 1em;
  line-height: 1.5em;
}

.lead{
  color:#fff;
  width:25em;
}

.play_btn{
  color:#fff;
  background-color: #C81518;
  background-image: url("images/play_btn.svg");
  background-repeat: no-repeat;
  background-position: left;
  text-decoration: none;
  border: solid 1px #fff;
  padding: 10px 25px; /*top n bottom... left right*/
  border-radius: 5px;
  text-transform: uppercase;
  display: block;
  width: 70px;
}

  nav{
    background-color: #555;
    padding-top: .5em;
    padding-bottom: .5em;
  }

  nav li{
    display: inline;
    margin-left: 1em;
    padding-bottom: 1em;
  }

  nav a{
  color: #fff;
  text-decoration: none;
  }

  nav a:hover{
  text-decoration: underline;
  }
